@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: 'font-bairu', sans-serif;
} */
@font-face {
  font-family: 'hiragino';
  src: url('/fonts/hiragino-kaku-gothic-pro-w3.otf');
}

.scroll-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.PhoneInputInput {
  background-color: white;
  border: none;
}

.PhoneInputInput:focus {
  outline: none;
}

.PhoneInputCountrySelect {
  font-size: 10px;
  height: 700px;
}
